html, body {
    height: 100%;
    width: 100%;
    /* display: table; */
}


#colorPalette {
    width: 90%;
    height: 400px;
    margin: 15px auto;
    text-align: center;
    /* border: 3px solid #b32a12; */
}

.color-item {
    /* border: 1px solid #1eab81; */
    cursor: pointer;
    border-radius: 1px;
}

#firstColor {
    height: 150px;
    background-color: #e96d26;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#secondColor {
    height: 100px;
    background-color: #c65b1e;
}

#thirdColor {
    height: 75px;
    background-color: #71330f;
}

#fourthColor {
    height: 75px;
    background-color: #3d1c09;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn {
    border: 1px solid #1f1f1f;
}
