# python
/venv
/.venv
/__pycache__
__pycache__/
*.pyc
*.pyo

# testing
/coverage
.pytest_cache
experiments/.pytest_cache


# Distribution / packaging
.Python
wheels/


# Misc
.DS_Store
.vscode

# Artifacts
exp/src/notebooks/*.png
exp/src/notebooks/*.csv
